<div class="row">
  <div class="col-md-3">
    <h2><%=@place.name%></h2>
    <h5><%=@place.phone%></h5>
    <h5><%=@place.website%></h5>
    <h5><%=@place.description%></h5>
    <div id="map" style="width: 230px; height:230px"></div>
  </div>
  <div class="col-md-9">
    <h2>Reviews</h2>
    <%= render 'reviews/form' %>
    <h2>All reviews</h2>
    <%= render @reviews %>
  </div>
</div>

<script type="text/javascript">
  var map;
  var myCenter = {lat: parseFloat('<%= @place.latitude%>'), lng: parseFloat('<%=@place.longitude%>')};
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: myCenter,
      zoom: 8
    });
    var marker = new google.maps.Marker({
      position: myCenter,
      map: map,
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHQdnMwo2hWa6vygNP37zQfZ25V0Tsork&callback=initMap"
async defer></script>
